{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ParamReservation list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Parametres</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('paramreservation_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>    
                    <ul>
                    {%for key0,parametre0 in entity.parametres%}
                        <li>
                            {{key0}} :
                            {%if parametre0 is iterable%}
                                <ul>
                                {%for key1,parametre1 in parametre0%}
                                        <li>
                                            {{key1}} : {{parametre1}}
                                        </li>
                                {%endfor%}
                                </ul>
                            {%else%}
                            {{parametre0}}
                            {%endif%}
                        </li>            
                    {%endfor%}
                    </ul>  
                    </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('paramreservation_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('paramreservation_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('paramreservation_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
