{%extends "ExploticMainBundle:Templates:text-content_noher.html.twig"%}
{%block text_title%}
<h3>Postes de travail :</h3>
{%endblock%}
{%block text_body%}
<table class="table">
    <thead>
        <tr>
            
            {%if depuis is not defined %}            
            <th>Stagiaire</th>
            <th>Entreprise</th>           
            {%endif%}
            <th>Nom</th>
            <th>Localisation</th>            
            <th>Actions</th>            
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            {%if depuis is not defined %}
            <td>{{ entity.stagiaire }}</td>
            <td>{{entity.stagiaire.entreprise.raisonsociale }}</td>
            {%endif%}
            <td>{{ entity.label }}</td>
            <td>{{ entity.localisation }}</td>
            <td>

                        <a class="btn btn-primary" href="{{ path('poste_show', { 'id': entity.id }) }}">show</a>
                        {%if is_granted('ROLE_ADMIN')%}
                        <a class="btn btn-warning" href="{{ path('poste_edit', { 'id': entity.id }) }}">edit</a>
                        {%endif%}

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{%endblock%}