
{# src/Explotic/MainBundle/Resources/views/Form/fields.html.twig #}
 
{% block gmaps_picker_widget %}</pre>
<div id="gmaps_picker_widget">
<div id="input">{{ block('form_widget') }}</div>
<div id="map_canvas"></div>
</div>

<script type="text/javascript">

$(function(){
    $('#map_canvas').width("400px").height("400px").gmap3({
            map:{
                options:{
                    center:[44.32, -0.648],
                    zoom:7,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    mapTypeControl: true,
                    mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                    },
                    navigationControl: true,
                    scrollwheel: true,
                    streetViewControl: true
                },
                
                events:{                    
                    click:function(map, event){
                                    $(this).gmap3(
                                        {clear:{last:true}});    
                                    $(this).gmap3(
                                        { marker:{
                                            latLng: event.latLng
                                          }
                                        }

                                      );
                                    // Fonction Jquery qui va remplir les balises lat et lon du formulaire !!!!!
                                    $('#{{form.lat.vars.id}}').val(event.latLng.lat());
                                    $('#{{form.lon.vars.id}}').val(event.latLng.lng());
                                    }
                    
                }
            },
            marker:{
            /*{%if form.lat.vars.value is defined and form.lon.vars.value is defined%}*/
               latLng: [{{form.lat.vars.value}}, {{form.lon.vars.value}}]
            /*{%endif%}*/
            }                
    });
});
</script>

{% endblock %}

{% block gmaps_address_picker_widget %}</pre>
    



<div id="{{ id }}_gmaps_address_picker_widget">
    <div id="address_picker" class='row-fluid'>         
        <div class='span4'>
                <div class='row-fluid'>        
                    <input class='span9' id="geocomplete" type="text" placeholder="Rechercher une adresse" value="" />
                    <input class='span3' id="find" type="button" value="Chercher" />                      
                </div>
                <br/>
                <div class='row-fluid '>
     
                    <div id="{{ id }}_input" class='span12'>
                            {{ block('form_widget') }}
                    </div>

                </div>
        </div>
        <div class='span8'>
                    <div id="{{ id }}_map" class="map_canvas" style="width:100%; height:320px"></div>  
        </div>        

    </div>       
</div>
<script>
    
      $(function(){
        $("#geocomplete").geocomplete({
          map: ".map_canvas",
          details: ".controls",
          detailsAttribute: 'data-geo',
          types: ["geocode", "establishment"]
        });
        
        $("#find").click(function(){
          $("#geocomplete").trigger("geocode");
          
        });
      });
    
</script>
{% endblock %}