
{# src/Explotic/MainBundle/Resources/views/Form/fields.html.twig #}
 
{% block gmaps_picker_widget %}</pre>
<div id="gmaps_picker_widget">
<div id="input">{{ block('form_widget') }}</div>
<div id="map_canvas" style="width:800px; height:400px"></div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4hT13IYCchS-xzh54W5_fUZv8kad8GOo&sensor=false"></script>
<script type="text/javascript" src="{{asset('bundles/sonatajquery/jquery-1.8.0.js')}}"></script>
<script type="text/javascript">
var map;
function initialize() {
    var myLatLng = new google.maps.LatLng(44.32,-0.648);
    var mapOptions = {
        zoom : 7,
        center : myLatLng,        
        mapTypeId : google.maps.MapTypeId.ROADMAP
        }
    map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);

    google.maps.event.addListener(map, 'click', function(event) {
      placeMarker(event.latLng);
    });
}

var marker;
function placeMarker(location) {
    if(marker) {//vérif si le marker existe
        marker.setPosition(location); // on change sa position
    }
    else{
        marker = new google.maps.Marker({
            position : location,
            map : map
        });
    
    map.setCenter(location);    
    }
    // Fonction Jquery qui va remplir les balises lat et lon du formulaire !!!!!
    $('#{{form.lat.vars.id}}').val(location.lat());
    $('#{{form.lon.vars.id}}').val(location.lng());
}


google.maps.event.addDomListener(window,'load',initialize);

</script>

{% endblock %}

{% block gmaps_address_picker_widget %}</pre>
<div id="{{ id }}_gmaps_address_picker_widget">
    <div id="address_picker">        
        <div id="{{ id }}_input">{{ block('form_widget') }}</div>
        <div id="{{ id }}_map" class="gmaps_address_picker_map" style="width:800px; height:400px"></div>
    </div>       
</div>
<link rel="stylesheet" href="{{asset('bundles/exploticmain/js/jquery-addresspicker/demos/themes/base/jquery.ui.all.css')}}">
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4hT13IYCchS-xzh54W5_fUZv8kad8GOo&sensor=false"></script>
<script type="text/javascript" src="{{asset('bundles/exploticmain/js/jquery-addresspicker/lib/jquery-1.4.4.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/exploticmain/js/jquery-addresspicker/lib/jquery-ui-1.8.7.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/exploticmain/js/jquery-addresspicker/src/jquery.ui.addresspicker.js')}}"></script>

<script type="text/javascript">
$(function() {
            var addresspickerMap = $("#{{ form.address.get("id") }}").addresspicker({
                regionBias: "fr",
                elements: {
                    map: "#{{ id }}_map",
                    locality: '#{{ form.city.get("id") }}',
                    postal_code: '#{{form.postalCode.get("id") }}',                                    
                    lat:      "#{{ form.lat.get("id") }}",
                    lng:      "#{{ form.lon.get("id") }}"
                }
            });
            var gmarker = addresspickerMap.addresspicker("marker");
            gmarker.setVisible(true);
            addresspickerMap.addresspicker("updatePosition");
    });
</script>
{% endblock %}