{% block declare_script %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4hT13IYCchS-xzh54W5_fUZv8kad8GOo&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var myPos = new google.maps.LatLng({{entreprise.bureau.localisation.geometry.lat}}, {{entreprise.bureau.localisation.geometry.lon}});
        var mapOptions = {
          center: myPos,
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
            
        var marker = new google.maps.Marker({
            position: myPos,
            title:"{{entreprise.raisonsociale}}"
        });

        // To add the marker to the map, call setMap();
        marker.setMap(map);
      }
    </script>
{% endblock %}
 
    <h1>Fiche de l'entreprise {{ entreprise.raisonSociale }}</h1>
    {% if stagiaire is defined %}    
    <h2> employeur de {{stagiaire.prenom}} {{stagiaire.nom}} </h2>
    {% endif %}
                  
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Commune :   </th>
                <td>{{ entreprise.bureau.localisation.commune }}</td>
            </tr>
            <tr>
                <th>  </th>
                <td>       
                </td>
            </tr>
        </tbody>
    </table>
    
    <div> Position du bureau:
        <br class="spacer"/>
        <div id="map_canvas" style="width:300px; height:300px"></div>
    </div>

