{% block declare_script %}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4hT13IYCchS-xzh54W5_fUZv8kad8GOo&sensor=false"></script>
    <script type="text/javascript">
      function initialize() {
        var myPos = new google.maps.LatLng({{entreprise.bureau.localisation.geometry.lat}}, {{entreprise.bureau.localisation.geometry.lon}});
        var mapOptions = {
          center: myPos,
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
            
        var marker = new google.maps.Marker({
            position: myPos,
            title:"{{entreprise.raisonsociale}}"
        });

        // To add the marker to the map, call setMap();
        marker.setMap(map);
      }
      google.maps.event.addDomListener(window, 'load',initialize);
    </script>
{% endblock %}
 
    <h1>Fiche de l'entreprise {{ entreprise.raisonSociale }}</h1>
    {% if stagiaire is defined %}    
    <h2> employeur de {{stagiaire.firstname}} {{stagiaire.lastname}} </h2>
    {% endif %}
                  
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Adresse</th>
                <td>
                {{ entreprise.bureau.adresserue }}
                {{ entreprise.bureau.localisation.cp }}
                {{ entreprise.bureau.localisation.commune }}
               </td>                
            </tr>
                <th>Téléphone</th>
                <td>{{entreprise.telephone}}</td>                
            </tr>
            </tr>
                <th>SIRET / SIREN</th>
                <td>{{entreprise.siret}}</td>                
            </tr>
            </tr>
                <th>CNIL</th>
                <td>{{entreprise.cnil}}</td>                
            </tr>
            </tr>
                <th>Version explotic installée</th>
                <td>{{entreprise.versionexplotic}}</td>                
            </tr>
            </tr>
                <th>Commentaires</th>
                <td>{{entreprise.commentaires}}</td>                
            </tr>
        </tbody>
    </table>
    <br style="height:5px">
    <div> Position du bureau: </div>
    <br style="height:5px">    
    <div id="map_canvas" style="width:300px; height:300px"></div>



