    <h4>Entreprise {{ entreprise.raisonSociale }}</h4>
    {% if stagiaire is defined %}    
    <h2> employeur de {{stagiaire.prenom}} {{stagiaire.nom}} </h2>
    {% endif %}
                  
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Adresse</th>
                <td>
                {{ entreprise.bureau.adresserue }}
                {{ entreprise.bureau.localisation.cp }}
                {{ entreprise.bureau.localisation.commune }}
               </td>                
            </tr>
                <th>Téléphone</th>
                <td>{{entreprise.telephone}}</td>                
            </tr>
            </tr>
                <th>SIRET / SIREN</th>
                <td>{{entreprise.siret}}</td>                
            </tr>
            </tr>
                <th>CNIL</th>
                <td>{{entreprise.cnil}}</td>                
            </tr>
            </tr>
                <th>Version explotic installée</th>
                <td>{{entreprise.versionexplotic}}</td>                
            </tr>
            </tr>
                <th>Commentaires</th>
                <td>{{entreprise.commentaires}}</td>                
            </tr>
        </tbody>
    </table>




