<h1>Calendrier</h1>

<table class="calendrier">
    <thead>
        <tr>
            <th>Année</th>
            <th>semaine</th>
            <th></th>            
            <th>jour1</th>
            <th>jour2</th>
            <th>jour3</th>
            <th>jour4</th>
            <th>jour5</th>      
        </tr>
    </thead>
    <tbody>
        
            {% for year in agenda.agendasYear %}                
                {%for week in year.agendasWeek %}
                <tr>
                            <td>{{year.val}}</td>
                            <td>{{week.val}}</td>
                            <td>Date</td>
                            <td>{{week.agendasDay[0].date | date('d-m')}}</td>
                            <td>{{week.agendasDay[1].date | date('d-m')}}</td>
                            <td>{{week.agendasDay[2].date | date('d-m')}}</td>
                            <td>{{week.agendasDay[3].date | date('d-m')}}</td>
                            <td>{{week.agendasDay[4].date | date('d-m')}}</td>                            
                </tr>                 
                <tr>
                            <td></td>
                            <td></td>
                            <td>Matin</td>
                            <td>{% if week.agendasDay[0].creneaux[0].jour.id is defined %}
                                {{week.agendasDay[0].creneaux[0].jour.statutDate}}
                                {%else%}
                                    vide
                                {%endif%}
                            </td>
                            <td>{% if week.agendasDay[1].creneaux[0].jour.id is defined %}
                                {{week.agendasDay[1].creneaux[0].jour.statutDate}}
                                {%else%}
                                    vide
                                {%endif%}
                            </td>
                            <td>{% if week.agendasDay[2].creneaux[0].jour.id is defined %}
                                {{week.agendasDay[2].creneaux[0].jour.statutDate}}
                                {%else%}
                                    vide
                                {%endif%}
                            </td>
                            <td>{% if week.agendasDay[3].creneaux[0].jour.id is defined %}
                                {{week.agendasDay[3].creneaux[0].jour.statutDate}}
                                {%else%}
                                    vide
                                {%endif%}
                            </td>
                            <td>{% if week.agendasDay[4].creneaux[0].jour.id is defined %}
                                {{week.agendasDay[4].creneaux[0].jour.statutDate}}
                                {%else%}
                                    vide
                                {%endif%}
                            </td>
                </tr>                    
                <tr>
                            <td></td>
                            <td></td>
                            <td>Arpès-midi</td>
                            <td>{% if week.agendasDay[0].creneaux[1].jour.id is defined %}
                                {{week.agendasDay[0].creneaux[1].jour.statutDate}}
                                {%else%}
                                    vide
                                {%endif%}
                            </td>
                            <td>{% if week.agendasDay[1].creneaux[1].jour.id is defined %}
                                {{week.agendasDay[1].creneaux[1].jour.statutDate}}
                                {%else%}
                                    vide
                                {%endif%}
                            </td>
                            <td>{% if week.agendasDay[2].creneaux[1].jour.id is defined %}
                                {{week.agendasDay[2].creneaux[1].jour.statutDate}}
                                {%else%}
                                    vide
                                {%endif%}
                            </td>
                            <td>{% if week.agendasDay[3].creneaux[1].jour.id is defined %}
                                {{week.agendasDay[3].creneaux[1].jour.statutDate}}
                                {%else%}
                                    vide
                                {%endif%}
                            </td>
                            <td>{% if week.agendasDay[4].creneaux[1].jour.id is defined %}
                                {{week.agendasDay[4].creneaux[1].jour.statutDate}}
                                {%else%}
                                    vide
                                {%endif%}
                            </td>
                </tr>                    

                {%endfor%}
            {% endfor%}

    </tbody>
</table>
{#
<ul class="record_actions">
    <li>
        <a href="{{ path('calendrier') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('calendrier_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('calendrier_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>#}
