{%extends '::base.html.twig'%}

{% form_theme form 'TransferReservationBundle:Form:fields.html.twig' %}

{%block body%}
<h3> Gestion des créneaux pré-attribués </h3>

<div id="select_type_camion" class='div-plain'>
    <form action="{{ path('creneauprefgen_generate_ajax') }}" method="post" {{ form_enctype(form) }}>
        <div id='selector'>{{ form_widget(form) }}</div>
    </form>
</div>
<div id='form_generator' class='div-plain'>

</div>
<div id='modal-loader'class='modal hide fade' >
    <div class='modal-body text-center'><strong>Chargement en cours</strong></div>
</div>
<div
{# Script AJAX pour l'actualisation de la page#}
{%endblock%}
{% block script %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="{{asset('bundles/transfermain/bootstrap/js/bootstrap.js')}}"></script>    
<script type='text/javascript'>
$('#modal-loader').modal('show');
$(document).ready(function() {  
    $.ajax({
        type: "POST",
        data: $('form').serialize(),
        url: "{{ path('creneauprefgen_generate_ajax')}}",
        success: function(retour){           
            $('#modal-loader').modal('hide');
            $('#form_generator').html(retour);

        },
        error: function(){
             $('#form_generator').html('Impossible de charger le formulaire de gestion des créneaux pré-attribués');

        }
    });

    
    $('#selector').change(function(){  
        
        $('#modal-loader').modal('show');
        $.ajax({
            type: "POST",
            data: $('form').serialize(),
            url: "{{ path('creneauprefgen_generate_ajax')}}",
            success: function(retour){
                $('#form_generator').html(retour);
                $('#modal-loader').modal('hide');
                 
                  
            },
            error: function(){
                 $('#form_generator').html('Impossible de charger le formulaire de gestion des créneaux pré-attribués');
                 $('#modal-loader').modal('hide');

                }
        });

        return false;
    });
});
</script>
{%endblock%}