<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>Transfer Démo</title>
        <link href="{{asset('bundles/transfermain/bootstrap/css/bootstrap.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/transfermain/bootstrap/css/bootstrap-responsive.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/transfermain/css/style.css')}}" rel="stylesheet" type="text/css" />        
    </head>
    <body>        
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">       
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <div class="well well-small sidebar-nav">
                            <ul class="nav nav-list">        
                            {% if is_granted("ROLE_RECEP") %}
                                <li><div class="nav-header">Arrivées du jour</div></li>
                                <li ><a tabindex="-1"  href="{{ path('planning_jour',{'date':'now'}) }}">  Planning </a>
                                </li>
                                <li><a tabindex="-1" href="{#{path('acquittement')}#}#">  Acquittement des livraisons </a>
                                </li>
                                <li class="divider"></li>
                            {%endif%}                                                   
                            {% if is_granted("ROLE_DAB") %}
                                <div class="nav-header">Gestion des rendez-vous</div>
                                <li><a href="{{path('planning_semaine',{'year':'now'|date('Y'),'week': 'now'|date('W')})}}"> Planning de la semaine en cours</a>
                                </li>
                                <li><a href="{{path('planning_semaine',{'year':'now'|date('Y'),'week': 1+('now'|date('W'))})}}"> Planning de la semaine prochaine</a>
                                </li>
                                <li class="divider"></li>
                            {%endif%}
                            {% if is_granted("ROLE_DAB") %}
                                <div class="nav-header"> Gestion des modèles de planning</div>
                                <li><a href="{{path('creneaumodele_generate')}}">  Générer les créneaux </a>
                                </li>
                                <li> <a href="{{path('creneaumodele')}}"> Afficher les plannings </a>
                                </li>
                                <li> <a href="{{path('creneaumodele_recherche_supprimer')}}">  Supprimer des créneaux</a>
                                </li>                                
                                <li class="divider"></li>
                                <div class="nav-header">Gestion des créneaux pré-réservés</div>
                                <li><a href="{{path('creneauprefgen_selecttypecamion')}}"> Attribution aux transporteurs</a>
                                </li>
                                <li><a href="{{path('creneaupref_reservation',{'semaine':'now'|date('W'),'annee':'now'|date('Y')} )}}"> Forcer la réservation pour <b>la semaine en cours</b></a>
                                <li><a href="{{path('creneaupref_reservation',{'semaine':1+('now'|date('W')),'annee':'now'|date('Y')} )}}"> Forcer la réservation pour <b> la semaine à venir</b></a>
                                </li>
                                <li class="divider"></li>
                                <div class="nav-header">Gestion des créneaux pour la recherche de rendez-vous</div>
                                <li><a href="{{path('creneaurdvgen_generate')}}"> Génération du planning pour une semaine </a>
                                </li>
                                <li><a href="{{path('creneaurdv_recherche_supprimer')}}"> Suppression de créneaux</a>
                                </li>
                                <li class="divider"></li>
                            {%endif%}
                            {%if is_granted('ROLE_TRANSPORTEUR')%}                               
                                <div class="nav-header">Gérer mon planning</div>
                                <li> <a href="{{path('creneaurdv_recherche_trsp',{'annee':'now'|date('Y'),'semaine': 'now'|date('W')})}}"> Recherche sur la <b>semaine en cours </b></a>
                                </li>
                                <li> <a href="{{path('creneaurdv_recherche_trsp',{'annee':'now'|date('Y'),'semaine':(1+('now'|date('W')))})}}"> Recherche sur la <b>semaine prochaine</b> </a>
                                </li>
                                <li><a href="{{path('rdv_transporteur',{'annee':'now'|date('Y'),'semaine': 'now'|date('W')})}}">Livraisons planifiées pour la semaine en cours </a>
                                </li>                     
                                <li><a href="{{path('rdv_transporteur',{'annee':'now'|date('Y'),'semaine': (1+('now'|date('W')))})}}">Livraisons planifiées pour la semaine prochaine </a>
                                </li>                   
                            {%endif%}
                            {% if is_granted("ROLE_SONATA_ADMIN") %}
                            <li><div class="nav-header">Gestion de l'application</div></li>
                                <li ><a tabindex="-1"  href="{{ path('sonata_admin_dashboard') }}">  Accès à la console</a>
                                </li>
                                {%if is_granted("ROLE_DAB")%}
                                <li><a href="{{path('paramreservation_init')}}"> Réinitialiser les paramètres de réservation </a>
                                </li>
                                <li><a href="{{path('reset_form')}}"> Réinitialiser la base </a>
                                </li>
                                {%endif%}
                                <li class="divider"></li>
                            {%endif%}  
                            </ul>  
                        </div>
                    {%endif%}
                </div>          
                <div class="span9">
                    <div>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    {% else %}                                        
                                        
                                    {% endif %}                                        
                        </div>
                {%for flashMessage in app.session.flashbag.get('alert')%}
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Info :</strong>
                    {{flashMessage}}
                </div>        
                {%endfor%}
                {%block body %}


                {% endblock %}
              <!--Body content-->
                </div>
            </div>
        </div>    
        
       
{% block script %}
            <script src="http://code.jquery.com/jquery.js"></script>
            <script src="{{asset('bundles/transfermain/bootstrap/js/bootstrap.min.js')}}"></script>
            

{%endblock%}
    </body>
</html>