<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Transfer Démo</title>
    <!-- Bootstrap -->
    {% include 'BraincraftedBootstrapBundle::_stylesheets.html.twig' %}
    
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span3">
                        <h2>Menu </h2>

                        {% if is_granted("ROLE_DAB") %}
                        <ul> Gestion du site
                            <li><a href="{{path('typeposte')}}">  Gestion des postes de déchargement </a>
                            </li>
                            <li><a href="{{path('transporteur')}}">  Gestion des transporteurs </a>
                            </li>                            
                            <li><a href="{{path('agenttrsp')}}">  Gestion des agents des transporteurs </a>
                            </li>                            
                            <li><a href="{{path('fos_user_registration_register')}}">  nouvel utilisateur </a>
                            </li>
                            <li><a href="{{path('user')}}">  Liste des utilisateurs </a>
                            </li>
                        </ul>                        
                        <ul> Gestion des modèles de planning
                            <li><a href="{{path('creneaumodele_generate')}}">  Générer les créneaux modèles </a>
                            </li>
                            <li> <a href="{{path('creneaumodele')}}">  liste des créneaux modèles</a>
                            </li>
                        </ul>
                        <ul>Gestion des créneaux pré-réservés
                            <li><a href="{{path('creneaupref_showtransporteur', {'idTransporteur': 1})}}"> creneaux préférentiels du transporteur 1 </a>
                            </li>
                        </ul>
                        
                        <ul> Gestion des créneaux pour la recherche de rendez-vous
                            <li><a href="{{path('creneaurdv')}}"> liste créneaux rdv </a>
                            </li>
                            <li><a href="{{path('creneaurdvgen_generate')}}"> génération des créneaux rdv pour une semaine </a>
                            </li>
                        </ul>
                        {%elseif is_granted('ROLE_USER')%}
                        <ul> Gérer mon planning
                            <li> <a href="{{path('creneaurdv_recherche',{'annee':2013,'semaine': 'now'|date('W')})}}"> rechercher un Créneau pour la <b>semaine en cours </b></a>
                            </li>
                            <li> <a href="{{path('creneaurdv_recherche',{'annee':2013,'semaine':(1+('now'|date('W')))})}}"> rechercher un Créneeau pour la <b>semaine prochaine</b> </a>
                            </li>
                            <li><a href="{{path('rdv_transporteur',{'annee':2013,'semaine': 'now'|date('W')})}}">Mes créneaux pour la semaine en cours </a>
                            </li>                     
                            <li><a href="{{path('rdv_transporteur',{'annee':2013,'semaine': (1+('now'|date('W')))})}}">Mes créneaux pour la semaine prochaine </a>
                            </li>                     
                        </ul>
                        {%endif%}
                </div>          
                <div class="span8">
                    <div>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    {% else %}                                        
                                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                    {% endif %}                                        
                        </div>
                {%block body %}


                {% endblock %}
              <!--Body content-->
                </div>
            </div>
        </div>            
        <!--script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script-->
{% include 'BraincraftedBootstrapBundle::_javascripts.html.twig' %}
{% block script %} {%endblock%}
    </body>
</html>