<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %} <link href="style.css" rel="stylesheet" type="text/css" />
    {% endblock %}
    {% block declare_script %}
    {% endblock %}
</head>

<body {% block bodyOpt %}{% endblock %}>

<!--Header Background Part Starts -->
    <div id="header-bg">
            <!--Header Contant Part Starts -->
            <div id="header">
                    <a href="{{asset('app_dev.php')}}">ExploTIC <br> Support Technique<!--img src="{{asset('images/logo.gif')}}" alt="Package" width="205" height="62" border="0" class="logo" title="Package" /--></a>
                    <!--Login Background Starts -->
                    {% block login %}
                    <div id="login-bg">
                            <!--Login Area Starts -->
                            <div id="login-area">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    {% else %}                                        
                                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                    {% endif %}                                        
                            </div>
                            
                            <!--Login Area Ends -->
                    </div>
                    {% endblock %}
                    <!--Login Background Ends -->
                    <br class="spacer" />
            </div>
            <!--Header Contant Part Ends -->
    </div>
    <!--Header Background Part Ends -->
    <!--Navigation Background Part Starts -->
    <div id="navigation-bg">
        
            <!--Navigation Part Starts -->
            <div id="navigation">
                    <ul class="mainMenu">
                            <li><a href="{{path('homepage')}}"  title="">Accueil</a>
                            </li>
                            <li><a href="#"  title="">Mon Profil</a>
                                <br class="spacer" />
                                <ul class="subNav">
                                        <li><a href="#" title="Consulter mon profil">Consulter</a></li>
                                        <li><a href="#" title="Modifier mon profil">Modifier</a></li>
                                        <li><a href="#" title="Consulter mon planning">Mon Planning</a></li>                                        
                                        <li><a href="#" title="Consulter mes recrutements">Mes Recrutements</a></li>                                        
                                </ul>                                
                            </li>
                            <li><a href="#"  title="">Formations</a>
                            <br class="spacer" />
                                <ul class="subNav">
                                        <li><a href="{{path('module')}}" title="Présentation des modules">Modules</a></li>
                                        <li><a href="#" title="Les sessions planifiées">Plannings</a></li>                                        
                                </ul>                            
                            <br class="spacer" />
                            </li>
                            <li><a href="#"  title="">Stagiaires</a>
                            <br class="spacer" />
                                <ul class="subNav">
                                        <li><a href="{{path('stagiaire')}}" title="Liste des profils">Profils</a></li>
                                        <li><a href="{{path('entreprise')}}" title="Entreprises">Entreprises</a></li>
                                </ul>
                                <br class="spacer" />
                            </li>
                            <li><a href="#" title="Liste des formateurs">Formateurs</a></li>
                            <li><a href="#"  title="">Admin</a>
                            <br class="spacer" />
                                <ul class="subNav">
                                        <li><a href="{{path('user')}}" title="Liste des profils">Utilisateurs</a></li>
                                        <li><a href="#" title="Entreprises">Roles</a></li>
                                </ul>
                                <br class="spacer" />
                            </li>
                    </ul>         
                </div>
            <!--Navigation Part Ends -->
    </div>
    <!--Navigation Background Part Ends -->
    <!--Our Company Bacground Part Starts -->

    <div id="bundleZone">
        
            <!--Our Company Part Starts -->
            <div id="bundle-part">      
                    <h2 class="bundle-hdr">{% block bundleTitle %} Bundle Name {%endblock%}</h2>
                    {% block body %}
                    {% endblock %}
                    <br class="spacer" />

            </div>

            <!--Our Company Part Ends -->
    </div>
    <!--Our Company Bacground Part Ends -->

    
    <!--<div id="footer-bg">
            <!--Footer Menu Part Starts --
            <div id="footer-menu">
                    <ul class="footMenu">
                            <li class="noDivider"><a href="#" title="Home">Home</a></li>
                            <li><a href="#" title="About">About</a></li>
                            <li><a href="#" title="Services">Services</a></li>
                            <li><a href="#" title="Support">Support</a></li>
                            <li><a href="#" title="Chat">Chat</a></li>
                            <li><a href="#" title="History">History</a></li>
                            <li><a href="#" title="Contact">Contact</a></li>
                    </ul>
                    <br class="spacer" />                 
            </div>
            <!--Footer Menu Part Ends --
    </div>
    <!--Footer Part Ends -->       
</body>
</html>