     
<!DOCTYPE html>
<html>
    <head>        
        <meta name="Copyright" content="fcba" />
        <meta name="language" content="FR" />
        <META NAME  ="DESCRIPTION" content ="Support Technique au déploiement d'Explotic"/>
        <meta name="Author" Content ="Adrien Arraiolos" />
        <meta name="Keywords" Content ="Abatteuse, TIC, stanford
              exploitation forestière, forêt, Explotic, FCBA" />
        <meta http-equiv="PRAGMA" content="NO-CACHE" />                
        <title>
            ExploTIC - Support Technique
        </title>
        <meta charset="UTF-8" />               
        <link href="{{asset('bundles/exploticmain/css_1/menus.css')}}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{{asset('bundles/exploticmain/css_1/print.css')}}" media="print" />
        <link href="{{asset('bundles/exploticmain/css_1/my_layout.css')}}" rel="stylesheet" type="text/css" />
        {% block stylesheets %} 
        {% endblock %}
        {% block declare_script %}
        {% endblock %}
        {% block gmaps_script %}
        {% endblock %}        
        {% block jquery_script %}
        {% endblock %}   
    </head>
    <body>
        <div id="container">
            <div id="header-container">                
                <div id="header-wrapper">                
                    <div id="header">   
                        {#
                            <a  href="http://www.fcba.fr" title ="Accès au site de FCBA">
                                <img  src="{{asset('bundles/exploitmcsuivis/images/FCBA.gif')}}" alt="FCBA" border="0" /></a>
                            <a  href="http://www.exploitmc.fr" title ="Accueil du site">
                                <img  src="{{asset('bundles/exploitmcsuivis/images/bandeau2.jpg')}}"   alt="bandeau" border="0"/></a>
                        #}
                        <h0> Support Technique ExploTIC </h0>
                    </div>
                </div>
            </div>
            <div id="login-container">
                <div id="login-wrapper">                  
                    <div id="login">
                        {% block login %}
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            {% else %}                                        
                                <a href="{{ path('fos_user_security_login') }}" style="border-right:1px solid; padding:0 4px;">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>                                
                                <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}                                       
                    {% endblock %}
                    </div>
                </div>
            </div>
            <div id="menu-container">
                <div id="menu-wrapper">                  
                  <div id="menu"> {#style="float:left;position:relative;left:-50%;"#}
                            <ul class="pureCssMenu pureCssMenum" style="width:100%;">
                                 <li class="pureCssMenui"><a class="pureCssMenui" href="{{ path('homepage')}}"> Accueil</a></li>
                                 
                                 <li class="pureCssMenui"><a class="pureCssMenui" href="#"><span>Profil</span><![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
                                    <ul class="pureCssMenum">
                                            <li class="pureCssMenui"><a class="pureCssMenui" href="{{path('mon_profil')}}">Consulter</a></li>
                                            <li class="pureCssMenui"><a class="pureCssMenui" href="#">Modifier</a></li>
                                            <li class="pureCssMenui"><a class="pureCssMenui" href="#">Planning</a></li>
                                            {% if is_granted('ROLE_RECRUTEUR') %}
                                            <li class="pureCssMenui"><a class="pureCssMenui" href="#">Recrutements</a></li>                                    
                                            {% endif %}
                                    </ul>
                                 <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                                </li>
                                
                                <li class="pureCssMenui"><a class="pureCssMenui" href="#"><span>Formations</span><![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
                                    <ul class="pureCssMenum">
                                            <li class="pureCssMenui"><a class="pureCssMenui" href="{{path('module')}}">Modules</a></li>
                                            <li class="pureCssMenui"><a class="pureCssMenui" href="{{path('mon_agenda')}}">Plannings</a></li>
                                   </ul>                                         
                                 <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                                </li>  
                                
                                
                                {% if is_granted ('ROLE_SUPER_USER') %}                                                                                                
                                <li class="pureCssMenui"><a class="pureCssMenui" href="#"><span>Stagiaires</span><![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
                                    <ul class="pureCssMenum">
                                            <li class="pureCssMenui"><a class="pureCssMenui" href="{{path('stagiaire')}}">Profils</a></li>
                                            <li class="pureCssMenui"><a class="pureCssMenui" href="{{path('entreprise')}}">Entreprises</a></li>
                                   </ul>                                         
                                 <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                                </li>                               
                                {% endif %}

                                <li class="pureCssMenui"><a class="pureCssMenui" href="#"> Liste des formateurs</a></li>
                                
                                {% if is_granted ('ROLE_ADMIN')%}                                
                                <li class="pureCssMenui"><a class="pureCssMenui" href="#"><span>Administration</span><![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
                                    <ul class="pureCssMenum">
                                            <li class="pureCssMenui"><a class="pureCssMenui" href="{{path('user')}}">Utilisateurs</a></li>
                                            <li class="pureCssMenui"><a class="pureCssMenui" href="#">Rôles</a></li>
                                   </ul>                                         
                                 <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                                </li>
                                <li class="pureCssMenui"><a class="pureCssMenui" href="#"><span>Sessions</span><![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
                                    <ul class="pureCssMenum">
                                            <li class="pureCssMenui"><a class="pureCssMenui" href="#">Nouvelle session</a></li>
                                            <li class="pureCssMenui"><a class="pureCssMenui" href="#">Gérer les sessions</a></li>
                                   </ul>                                         
                                 <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                                </li>
                                {%endif%}
                           </ul>                         
                    </div>                    
                </div>
            </div>
            <div id="content-container">
                <div id="content-wrapper">
                    <div id="content">
                                    {% block body %}                                        
                                        <div id="text-content">
                                        {%block text%} 
                                        {%endblock%}
                                        </div>
                                    {% endblock %}
                                    {% block javascripts %}{% endblock %}
                    </div><!--content-->           
                </div><!--wrapper-->           
            </div><!--container-->                   
            <div id="footer-container">
                <div id="footer-wrapper">
                    <div id="footer">                    
                        <div style="float:right">
                            <p>Support technique ExploTIC</p>
                            <p style="color:red;">
                                Ver 0.1. - Dernière mise à jour : 16-05-2013 18:10
                            </p>   
                            <p><a href="#"> Mentions légales</a></p> 
                            <p>  Copyright FCBA © ExploTIC, 2013</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>     
    