<h1>CreneauModele creation</h1>

<form action="{{ path('creneaumodele_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form.jour) }}
    <div id="mondiv">{{ form_widget(form.heure) }}</div>
    {{ form_row(form.minute) }}
    {{ form_widget(form.duree) }}
    {{ form_rest(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('creneaumodele') }}">
            Back to the list
        </a>
    </li>
</ul>
