{%extends "ExploticTiersBundle::layout.html.twig" %}


{% block body %} 
<div class='top-bar'>
    <h3>Profils recrutés</h3>
</div>

<div class='well'>
<table class="table">
    <thead>
        <tr>
            <th>Nom de connexion</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Entreprise</th>
            <th>Marchepiedinfo</th>
            <th>Telephone</th>
            <th>Opca</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('stagiaire_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
            <td>{{ entity.lastname }}</td>
            <td>{{ entity.firstname }}</td>
            <td><a href="{{ path('entreprise_show', { 'id': entity.entreprise.id }) }}">{{ entity.entreprise.raisonSociale }}</a></td>            
            <td>{{ entity.marchePiedInfo }}</td>
            <td>{{ entity.phone }}</td>
            <td>{{ entity.opca }}</td>
            <td>                   
                <a class='btn btn-sucess' href="{{ path('stagiaire_show', { 'id': entity.id }) }}">Profil</a>
               {# <a class='btn btn-primary'href="{{ path('stagiaire_programmation', { 'id': entity.id }) }}">Programme</a>#}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
        
</div>
{% endblock%}