{%extends "ExploticTiersBundle::layout.html.twig" %}
{% block bodyOpt %}onload="initialize()"{% endblock %}  
{% block body %} 
<div style="float:top">
<h1> Fiche du stagiaire </h1>
</div>
<div style="border-style: solid; border-color: #343333; border-width: medium; padding: 1em">
<div style="float:left">
    <h1>{{ entity.prenom }} <br> {{ entity.nom }}</h1>
<table class="record_properties">
    <tbody>
        <tr>
            <td colspan="2"> 
{%if entity.gerant== true %}
                    Gérant de l'entreprise {{entity.entreprise.raisonsociale}}
{% else %}
                    Employé de l'entreprise {{entity.entreprise.raisonsociale}}
{% endif %}
            </td>
        </tr>
        <tr>
            <th>Datenaissance</th>
            <td>{{ entity.dateNaissance|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Opca</th>
            <td>{{ entity.opca }}</td>
        </tr>
        <tr>
            <th>Marchepiedinfo</th>
            <td>{{ entity.marchePiedInfo }}</td>
        </tr>
        <tr>
            <th>Téléphone</th>
            <td>{{ entity.telephone }}</td>
        </tr>
        <tr>
            <th>Forfait téléphonique</th>
            <td>{{ entity.forfaittelephone }}</td>
        </tr>
        <tr>
            <th>Niveau informatique</th>
            <td>{{ entity.niveauinfo }}</td>
        </tr>
        <tr>
            <th>Activité dans l'entreprise</th>
            <td>{{ entity.typeemploi }}</td>
        </tr>
        <tr>
            <th>Commentaires</th>
            <td>{{ entity.commentaire }}</td>
        </tr>
        
    </tbody>
</table>
</div>
<div style="float: left ">
    {%include 'ExploticTiersBundle:Entreprise:show/content.html.twig' with {'entreprise':entity.entreprise} %}
</div>
<div style="float: top">
    <br class="spacer">
</div>

<div style="float:left">
    {%if entity.programmes is defined %}
        {%if entity.programmes|length >0 %}
            {%include 'ExploticFormationBundle:Programme:index/content.html.twig' with {'entities':entity.programmes,  'depuis':'stagiaire'} %}
        {%endif%}
    {%endif%}
</div>
<div style="float:left">
    {%if entity.postes is defined %}
        {%if entity.postes|length >0 %}
            {%include 'ExploticTiersBundle:Poste:index/content.html.twig' with {'entities':entity.postes, 'depuis':'stagiaire'} %}
        {%endif%}
    {%endif%}
</div>
<div style="float: top">
    <br class="spacer">
</div>
<div style="float:left">
    {%if entity.machine is defined %}
            {%include 'ExploticTiersBundle:Machine:show/content.html.twig' with {'entity':entity.machine, 'depuis':'stagiaire'} %}
    {%endif%}
</div>
<div style="float: top">
    <br class="spacer">
</div>
</div>
<div>    
<ul class="record_actions">
    <li>
        <a href="{{ path('stagiaire_programmation', { 'id': entity.id }) }}">Voir le programme</a>
    </li>
    <li>
        <a href="{{ path('programme_new', { 'idStg': entity.id }) }}">Ajouter un module</a>
    </li>
    <li>
        <a href="{{ path('machine_new', { 'idStg': entity.id }) }}">Ajouter une machine</a>
    </li>
    <li>
        <a href="{{ path('poste_new', { 'idStg': entity.id }) }}">Ajouter un poste</a>
    </li>    
</ul>     
<ul class="record_actions">
    <li>
        <a href="{{ path('stagiaire_postes', { 'id': entity.id }) }}">Voir les postes</a>
    </li>
    <li>
        <a href="{{ path('stagiaire') }}">
            Retour à la liste des profils
        </a>
    </li>
    <li>
        <a href="{{ path('stagiaire_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('stagiaire_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
</div>
{% endblock%}