{%extends "ExploticTiersBundle::layout.html.twig" %}

{% block body %} 
<h1>Stagiaire</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ entity.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ entity.prenom }}</td>
        </tr>
        <tr>
            <th>Datenaissance</th>
            <td>{{ entity.dateNaissance|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Marchepiedinfo</th>
            <td>{{ entity.marchePiedInfo }}</td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td>{{ entity.telephone }}</td>
        </tr>
        <tr>
            <th>Opca</th>
            <td>{{ entity.opca }}</td>
        </tr>
        <tr>
            <th>Entreprise</th>
            <td>{{ entity.entreprise }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('stagiaire_programmation', { 'id': entity.id }) }}">Voir Programme</a>
    </li>
    <li>
        <a href="{{ path('programme_new', { 'idStg': entity.id }) }}">Ajouter Programme</a>
    </li>
    <li>
        <a href="{{ path('programme_new', { 'idStg': entity.id }) }}">Ajouter Programme</a>
    </li>
    <li>
        <a href="{{ path('stagiaire') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('stagiaire_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('stagiaire_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock%}