

<div style="float:left">
    <h5>{{ entity.firstname }} {{ entity.lastname }}</h5>
<table class="table table-condensed">
    <tbody>
        <tr>
            <td colspan="2" > <strong>
{%if entity.gerant== true %}
                    Gérant de l'entreprise {{entity.entreprise.raisonsociale}}
{% else %}
                    Employé de l'entreprise {{entity.entreprise.raisonsociale}}
{% endif %}
           </strong> </td>
        </tr>
        <tr>
            <th>Datenaissance</th>
            <td>{{ entity.dateofbirth|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Opca</th>
            <td>{{ entity.opca }}</td>
        </tr>
        <tr>
            <th>Marchepiedinfo</th>
            <td>{{ entity.marchePiedInfo }}</td>
        </tr>
        <tr>
            <th>Téléphone</th>
            <td>{{ entity.phone }}</td>
        </tr>
        <tr>
            <th>Forfait téléphonique</th>
            <td>{{ entity.forfaittelephone }}</td>
        </tr>
        <tr>
            <th>Niveau informatique</th>
            <td>{{ entity.niveauinfo }}</td>
        </tr>
        <tr>
            <th>Activité dans l'entreprise</th>
            <td>{{ entity.typeemploi }}</td>
        </tr>
        <tr>
            <th>Commentaires</th>
            <td>{{ entity.commentaire }}</td>
        </tr>
        
    </tbody>
</table>
</div>
