{%extends "::base.html.twig"%}
{%block body%}  
        <style type=text/css>
div.agenda{
    /*float:left;*/
    width:100%;
    margin: 35px 0;
    font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-shadow: none;
    font-weight: 200;
    font-size:  1.1em;
    line-height: 16pt;
}

div.agenda-header{
    font-size:14px;
}
div.annee {
    float: none;
    display: left; 
    width:100%;
}

div.semaine{
    width:100%;
   /* float: left;*/
    display: left;
}
div.jour-container{
    /*float: left;*/
    width:100%;

}   

div.jour{
    float:left; 
    margin-left: 8px;
    margin-bottom: 8px;
}
div.creneau{
   /* float:none;*/
    display:block;
    margin: 5px 0;
    height: 15px;
    min-width: 100px;
    font-size: 0.9em;
    padding :1px;
    text-shadow: none;
    letter-spacing: 0.01;
}
.creneau-structure{
    background: #80f1a8;

}
.creneau-affiche{
    background:  #529924;      
    color:  white;
}
.creneau-selectable{
    background: #FFF;

}
.creneau-unselectable{
    background: #529924;

}
.creneau-vide{
    background: #eeeeee;

}
.creneau-content{
    line-height: 18px;
    width: auto;
    padding : 0 5px;
    height : 98%;

}

p{
    margin:0;
    padding:0;
}
.btn-success{
    margin-top:-10px;
    line-height:18px;
    padding:1px;
    font-size:10px;
}
form{
    display:inline;
    /*float:left;*/
    margin : 0 2px;
    padding : 0;

}

.day_disp{
    background:#696868;
    color:#f2eded;
    padding: 0 5px;
}


         </style>
         
         <h1> Modèles de planning et Créneaux pré-réservés</h1>
         
         <ul class="nav nav-tabs" id="myTab">          
         {%for agenda in agendas%}
             <li><a href="#agenda{{loop.index}}"  data-toggle="tab">{{agenda.poste}}</a></li>
         {%endfor%}
         </ul>
         
         <div class='tab-content'>
         {%for agenda in agendas%}             
             <div class="tab-pane" id="agenda{{loop.index}}">                    
                 <div class="agenda">    
                     <div class="agenda-header">
                     
                    <p> Type de camion : {{agenda.poste}}</p>
                    </div>
                    {%for agendaYear in agenda.agendasYear %}
                    <div class="annee"> 
                        {%for agendaWeek in agendaYear.agendasWeek%}
                        <div class="semaine"> {#Année : {{agendaYear.val}} | Semaine : {{agendaWeek.val}}#}
                        <div class="jour-container">
                            {%for agendaDay in agendaWeek.agendasDay%}
                            <div class="jour" style='width:{{90/(agendaWeek.agendasDay|length)}}%;'> {{agendaDay.textVal}}
                                 {%for creneau in agendaDay.creneaux %}
                                    <div class="creneau creneau-{{creneau.type}}" style="min-height: 58px; height: {{2.1*creneau.duree}}px">
                                            <div class="creneau-content">      
                                    {%if creneau.type =='vide'%}
                                    {{creneau.dateTimeDebut|date('H:i')}}  
                                    {%else%}                                                                          
                                        {{creneau.dateTimeDebut|date('H:i')}}                              
                                        {%if creneau.creneauxAffiches is defined %} 
                                                
                                                   {%for creneauAffiche in creneau.creneauxAffiches%}
                                                            {%if creneauAffiche.Transporteur.nom is defined%}
                                                            <br>{{creneauAffiche.Transporteur.nom}}-{{creneauAffiche.TypeCamion|trans({},"abbrev")}}                                                            
                                                            {%endif%}
                                                                                                                
                                                   {%endfor%}
                                                
                                        {%endif%}
                                    {%endif%}
                                            </div>                                
                                       </div> 
                                 {%endfor%}
                             </div>
                             {%endfor%}                
                         </div>
                         </div>
                         {%endfor%}
                     </div>
                     {%endfor%}
                </div>
            </div>
        {%endfor%}
        </div>         
{%endblock%}        
{%block script%}         
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>  
<script src="{{asset('bundles/transfermain/bootstrap/js/bootstrap.js')}}"></script>  
<script type="text/javascript">

         $('#myTab a').click(function (e){
             e.preventDefault();
             $(this).tab('show');
         });
         $(function(){
             $('#myTab a:first').tab('show');
         });

</script>    
{%endblock%}
