{%extends "::base.html.twig"%}
{%block body%}  
        <style type=text/css>
         div.agenda{
             float:left;
             width:100%;
             margin: 35px 0;
             font-family: Arial;
             font-size: 1em;
         }

         div.agenda-header{
             font-size:14px;
         }
         div.annee {
             float: none;
             display: left; 
             width:100%;
         }

         div.semaine{
             width:100%;
             float: left;
             display: left;
         }
         div.jour-container{
             float: left;
             width:100%;
             
         }   

         div.jour{
             float:left;             
         }
         div.creneau{
             float:none;
             display:block;
             border-style: solid;
             border-width: 0px;
             height: 15px;
             min-width: 100px;
             font-size: 0.9em;
             padding :1px;
             -moz-border-radius: 2px;
             -webkit-border-radius: 2px;
             border-radius: 2px;
         }
         .creneau-structure{
             background: #b9d4b1;
         }
         .creneau-affiche{
             background: #529924;
         }
         .creneau-vide{
             background: #d6d6d5;
         }
         .creneau-content{
             border : 1px solid black;
             line-height: 18px;
             width: auto;
             padding : 0 5px;
             height : 98%;
             -moz-border-radius: 2px;
             -webkit-border-radius: 2px;
             border-radius: 2px;
             -moz-box-shadow: 1px 1px 8px #aaa; 
             -webkit-box-shadow: 1px 1px 8px #aaa;
             box-shadow: 1px 1px 8px #aaa;
         }

         p{
             margin:0;
             padding:0;
         }
         .btn-success{
             margin-top:-10px;
             line-height:18px;
             padding:1px;
             font-size:10px;
         }


         </style>
         
         <h1> Modèles de planning et Créneaux pré-réservés</h1>
         
         <ul class="nav nav-tabs" id="myTab">          
         {%for agenda in agendas%}
             <li><a href="#agenda{{loop.index}}"  data-toggle="tab">{{agenda.poste}}</a></li>
         {%endfor%}
         </ul>
         
         <div class='tab-content'>
         {%for agenda in agendas%}             
             <div class="tab-pane" id="agenda{{loop.index}}">                    
                 <div class="agenda">    
                     <div class="agenda-header">
                     
                    <p> Type de camion : {{agenda.poste}}</p>
                    </div>
                    {%for agendaYear in agenda.agendasYear %}
                    <div class="annee"> 
                        {%for agendaWeek in agendaYear.agendasWeek%}
                        <div class="semaine"> {#Année : {{agendaYear.val}} | Semaine : {{agendaWeek.val}}#}
                        <div class="jour-container">
                            {%for agendaDay in agendaWeek.agendasDay%}
                            <div class="jour" style='width:{{90/(agendaWeek.agendasDay|length)}}%;'> {{agendaDay.textVal}}
                                 {%for creneau in agendaDay.creneaux %}
                                    <div class="creneau creneau-{{creneau.type}}" style="min-height: 58px; height: {{2.1*creneau.duree}}px">
                                            <div class="creneau-content">      
                                    {%if creneau.type =='vide'%}
                                    
                                    {%else%}                                                                          
                                        {{creneau.dateTimeDebut|date('H:i')}}                              
                                        {%if creneau.creneauxAffiches is defined %} 
                                                
                                                   {%for creneauAffiche in creneau.creneauxAffiches%}
                                                            {%if creneauAffiche.Transporteur.nom is defined%}
                                                            <br>{{creneauAffiche.Transporteur.nom}}-{{creneauAffiche.TypeCamion|trans({},"abbrev")}}                                                            
                                                            {%endif%}
                                                                                                                
                                                   {%endfor%}
                                                
                                        {%endif%}
                                    {%endif%}
                                            </div>                                
                                       </div> 
                                 {%endfor%}
                             </div>
                             {%endfor%}                
                         </div>
                         </div>
                         {%endfor%}
                     </div>
                     {%endfor%}
                </div>
            </div>
        {%endfor%}
        </div>         
{%endblock%}        
{%block script%}         
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>  
<script src="{{asset('bundles/transfermain/bootstrap/js/bootstrap.js')}}"></script>  
<script type="text/javascript">

         $('#myTab a').click(function (e){
             e.preventDefault();
             $(this).tab('show');
         });
         $(function(){
             $('#myTab a:first').tab('show');
         });

</script>    
{%endblock%}
