{%extends "ExploticTiersBundle::layout.html.twig" %}
{% block body %}
<h1>Entreprise edit</h1>

<form action="{{ path('entreprise_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('entreprise_show',{'id':entity.id}) }}">
            Retour à la fiche de l'entreprise
        </a>
    </li>
    <li>
        <form action="{{ path('entreprise_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}