
<div class="top-bar">
<h3>Programmes de formation</h3>
</div>
<div class="well">
<table class="table">
    <thead>
        <tr>             
            <th>Module</th>       
            <th>Accompagnement</th>
            <th>Formation en salle</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>         
            <td>{{ entity.module }}</td>
            <td>{{ entity.accompagnement }}</td>
            <td>{{ entity.FormationSalle }}</td>
            <td>
            <a class="btn btn-primary" href="{{ path('programme_show', { 'id': entity.id }) }}">show</a>
            
            {%if is_granted('ROLE_ADMIN')%}
            <a class="btn btn-warning"href="{{ path('programme_edit', { 'id': entity.id }) }}">edit</a>
            {%endif%}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

