{%extends "::base.html.twig"%}
{%block body%}
<style type=text/css>
div.agenda{
    float:left;
    margin: 35px;
    font-family: Arial;
    font-size: 12px;
}
div.annee {
    float: none;
    display: left;
}

div.semaine{
    float: none;
    display: left;
}
div.jour-container{
    float: left;
}   

div.jour{
    float:left;
}
div.creneau{
    float:none;
    display:block;
    border-style: solid;
    border-width: 1px;
    height: 35px;
    width: 85px;
    font-size: 10px;
}
.creneau-affiche{
    background: #529924;
}
p{
    margin:0;
    padding:0;
}
.btn-success{
    margin-top:-10px;
    line-height:15px;
    padding:1px;
    font-size:10px;
}
</style>

{%for agenda in agendas%}
<div class="agenda">
    <p>Poste de déchargement : {{agenda.poste}}</p>
    {%for agendaYear in agenda.agendasYear %}
    <div class="annee"> Année {{agendaYear.val}}
        {%for agendaWeek in agendaYear.agendasWeek%}
        <div class="semaine"> semaine {{agendaWeek.val}}
        <div class="jour-container">
            {%for agendaDay in agendaWeek.agendasDay%}
            <div class="jour">jour {{agendaDay.val}}
                {%for creneau in agendaDay.creneaux %}
                    <div class="creneau creneau-{{creneau.type}}">
                        {{creneau.dateTimeDebut|date('h:i')}}<br>
                        {%if creneau.creneauAffiche.statutRdv is defined %}                            
                            {%if creneau.creneauAffiche.statutRdv == 'provisoire' %}
                                <form action="{{ path('rdv_confirmation' , { 'id': creneau.creneauAffiche.id}) }}" method="post">
                                    {#<input type="hidden" name="id" value ="{{creneau.creneauAffiche.id }}"/>#}
                                    <button class="btn btn-success" type="submit">Confirmer</button> 
                                </form>
                            {%elseif creneau.creneauAffiche.statutRdv == 'confirme' %}
                                RESERVE
                            {%endif%}
                        {%else%} 
                        {%endif%}
                    </div>               
                {%endfor%}
            </div>
            {%endfor%}                
        </div>
        </div>
        {%endfor%}
    </div>
    {%endfor%}
</div>
{%endfor%}

{%endblock%}