{%extends '::explotic.html.twig'%}

{%block body%}
    <div class="navbar navbar-inverse " id="nav">    
        <div class="navbar-inner">
                {{knp_menu_render('ApplicationSonataMediaBundle:Builder:mainMenu',{'allow_safe_labels':true})}}        
        </div>
    </div>
    <ul class='breadcrumb'>
        <li>
            <a  href="{{path('my_gallery_homepage')}}">                
                <i class='icon-home'></i>
            </a>
            <span class="divider">/</span>
        </li> 
    {%for dirGallery in gallery.galleriesDir%}
        <li>
            <a  href="{{path('my_gallery_show', {'id':dirGallery.id})}}">                
                {{dirGallery.name}}
            </a>
            <span class="divider">/</span>
        </li>
    {%endfor%}
    </ul>
<div class="well">

        <ul class='nav nav-list'>
            <li class='nav-header'>
                <i class='icon-caret-down'></i>
                {{gallery.name}}
            </li>
            <ul class='nav nav-list'>               
                {% include 'ApplicationSonataMediaBundle:Gallery:medias_tree.html.twig' with {'gallery':gallery} %}
                {%include 'ApplicationSonataMediaBundle:Gallery:subgalleries_tree.html.twig' with {'gallery':gallery} %}
            </ul>
            
            
        </ul>                   
</div>
{%endblock%}