{%extends '::explotic.html.twig'%}

{%block body%}
    <div class="navbar navbar-inverse " id="nav">    
        <div class="navbar-inner">
                {{knp_menu_render('ApplicationSonataMediaBundle:Builder:mainMenu',{'allow_safe_labels':true})}}        
        </div>
    </div>
    <ul class='breadcrumb'>
        <li>
            <a  href="{{path('my_gallery_homepage')}}">                
                <i class='icon-home'></i>
            </a>
            <span class="divider">/</span>
        </li> 
    {%for dirGallery in gallery.galleriesDir%}
        <li class=''>
            <a  href="{{path('my_gallery_show', {'id':dirGallery.id})}}">                
                {{dirGallery.name}}
            </a>
            <span class="divider">/</span>
        </li>
    {%endfor%}
    </ul>
<div class='row-fluid'>
    <div class='span5'>
        <div class="well well-small sidebar-nav">
        {% set menuItem = knp_menu_get('ApplicationSonataMediaBundle:Builder:sideMenu', [], {'masterId':gallery.id}) %}  
        {{knp_menu_render(menuItem, {'allow_safe_labels':true} )}}
        </div>
    </div>
    <div class='span7'>
    </div>
</div>
{%endblock%}