<h1>Jour list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Creneaudebut</th>
            <th>Creneaufin</th>
            <th>Creneau</th>
            <th>Statutdate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('jour_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.creneauDebut %}{{ entity.creneauDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.creneauFin %}{{ entity.creneauFin|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.creneau }}</td>
            <td>{{ entity.statutDate }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('jour_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('jour_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('jour_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
