{%extends "ExploticAdminBundle::layout.html.twig" %}

{% block body %} 

<h1>User list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Lastlogin</th>
            <th>Roles</th>
            <th>Profil entreprise</th>
            <th>Profil stagiaire</th>
            <th>Profil recruteur</th>
            <th>Profil formateur</th>
            <th>Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.username }}</a></td>
            <td>{{ entity.email }}</td>  
            <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.roles %}
                    {%for role in entity.roles %}
                        {{ role }}<br>
                    {%endfor%}
                {%else%} Aucun role attribué
                {%endif%}                    
                </td>      
            <td>{% if entity.entreprise is defined %}
                        {{ entity.entreprise }} 
                {%else%} non attribué
                {%endif%}                    
                </td>      
            <td>{% if entity.stagiaire is defined %}
                        {{ entity.stagiaire }} 
                {%else%} non attribué
                {%endif%}                    
                </td>      
            <td>{% if entity.recruteur is defined %}
                        {{ entity.recruteur }} 
                {%else%} non attribué
                {%endif%}                    
                </td>      
            <td>{% if entity.formateur is defined %}
                        {{ entity.formateur }} 
                {%else%} non attribué
                {%endif%}                    
                </td>      
            <td>{{ entity.id }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">Ajouter à un/des profil(s)</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="{{ path('user_edit_role', { 'id': entity.id }) }}">Editer les rôles</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
 <a href="{{ path('fos_user_registration_register')}}">Ajouter un compte utilisateur</a>
{%endblock%}
