
{%extends 'ExploticFormationBundle::layout.html.twig'%}

{%block body%}
<div class="row-fluid">
    <div class="span12">
        <div class="top-bar">
            <h3>Modules de formation au système ExploTIC</h3>
        </div>
        <div class="well no-padding">
            <div class="table-striped table-condensed">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Tarif avec prise en charge Vivea/FAFSEA</th>
                            <th>Tarif sans prise en charge, hors dispositif</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('module_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.nom }}</td>
                            <td>{{ entity.tarif }} € HT</td>
                            <td>{{ entity.tarifplein }}€ HT</td>
                            <td>
                                        <a class="btn btn-primary" type="button" href="{{ path('module_show', { 'id': entity.id }) }}">Consulter</a> 
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            
        </div>
    </div>
</div>

{%endblock%}