{%extends 'ExploticMainBundle:Templates:text-content.html.twig'%}


    {%block text_title%}
    <h3>{{ entity.nom }}</h3>

    {%endblock%}

    {%block text_body%}
    <div>
        <div style="margin: 1em 0 2em;">{{entity.description | raw}}
        </div>              
        <p><strong>Tarif avec prise en charge FAFSEA/VIVEA : </strong>{{entity.tarif}} € HT
        </p>
        <p> <strong> Tarif hors dispositif de prise en charge :</strong> {{entity.tarifplein}} € HT
        </p>
        <a class="btn btn-primary" href="{{ path('module') }}">
                Retour à la liste
            </a>
            
    </div>

    {%endblock%}

