<h1>CreneauModele list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Jour</th>
            <th>Heure</th>
            <th>Minute</th>
            <th>Duree</th>
            <th>Heuredebut</th>
            <th>Heurefin</th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('creneaumodele_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.jour }}</td>
            <td>{{ entity.heure }}</td>
            <td>{{ entity.minute }}</td>
            <td>{{ entity.duree }}</td>
            <td>{{ entity.heureDebut| date('H:i:s')}}</td>
            <td>{{ entity.heureFin| date('H:i:s') }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('creneaumodele_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('creneaumodele_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('creneaumodele_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
