<h1>CreditTemps list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tempstotal</th>
            <th>Tempsreserve</th>
            <th>Tempsconsomme</th>
            <th>Tempsdisponible</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('credittemps_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.tempsTotal }}</td>
            <td>{{ entity.tempsReserve }}</td>
            <td>{{ entity.tempsConsomme }}</td>
            <td>{{ entity.tempsDisponible }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('credittemps_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('credittemps_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('credittemps_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
