<h1>CreneauRdv</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Jour</th>
            <td>{{ entity.jour }}</td>
        </tr>
        <tr>
            <th>Heure</th>
            <td>{{ entity.heure }}</td>
        </tr>
        <tr>
            <th>Minute</th>
            <td>{{ entity.minute }}</td>
        </tr>
        <tr>
            <th>Duree</th>
            <td>{{ entity.duree }}</td>
        </tr>
        <tr>
            <th>Heuredebut</th>
            <td>{{ entity.heureDebut }}</td>
        </tr>
        <tr>
            <th>Heurefin</th>
            <td>{{ entity.heureFin }}</td>
        </tr>
        <tr>
            <th>Datecreation</th>
            <td>{{ entity.dateCreation|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Datearchivage</th>
            <td>{{ entity.dateArchivage|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Datemodification</th>
            <td>{{ entity.dateModification|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Dateheuredebut</th>
            <td>{{ entity.dateHeureDebut|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Dateheurefin</th>
            <td>{{ entity.dateHeureFin|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Semaine</th>
            <td>{{ entity.semaine }}</td>
        </tr>
        <tr>
            <th>Annee</th>
            <td>{{ entity.annee }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('creneaurdv') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('creneaurdv_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('creneaurdv_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
