{# empty Twig template #}
<link href="{{asset('bundles/exploticadmin/css/user.css')}}" type="text/css" rel="stylesheet"/>
{% trans_default_domain 'FOSUserBundle' %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}
<div style="float:left; width:420px;"> 
    <div style="float:left; display:block; width:420px;">
        <form action="{{ path("fos_user_security_check") }}" method="post">
       
            <div id="fos_user_registration_form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" />

                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                <br>
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />    
            </div>
        </form>  
        <div style="margin : 6px 0 0 20px; width:210px;float:left; display:block">
            <p> Je n'ai pas encore de compte, je souhaite en créer un. </p>
            <a style="float:left;font-size:12px; font-family:arial;" class="button" href="{{path('fos_user_registration_register')}}" > Créer un compte </a>
        </div>
    </div>
    <div style="margin-top: 15px; float:left; display:block;">
    <a style="float:left;"href="{{path('fos_user_resetting_request')}}">Mot de passe oublié</a>
    </div>
</div>