{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AgentReception</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ entity.prenom }}</td>
            </tr>
            <tr>
                <th>Courriel</th>
                <td>{{ entity.courriel }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ entity.telephone }}</td>
            </tr>
            <tr>
                <th>Dateenregistrement</th>
                <td>{{ entity.dateEnregistrement|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datemodification</th>
                <td>{{ entity.dateModification|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('agentreception') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('agentreception_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('agentreception_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
