
{%extends "ExploticMainBundle::layout.html.twig" %}

{% block body %} 
<h3>Profil de l'utilisateur</h3>
<div class="row-fluid">
    <div class="span6">
        <div class="top-bar"> 
            <h3>Informations du compte</h3>
        </div>
        <div class="well">
            <p> Nom de connexion : {{user.username}}</p>
            <p> Adresse email : {{user.email}} </p> 
        </div>
    </div>
{% if type == 'gerant' %}
        {%if user.entreprise.id is defined %}
    <div class="span6">
        <div class="top-bar"> 
            <h3>Entreprise</h3>
        </div>
        <div class="well text-left">
            {%include 'ExploticTiersBundle:Entreprise:show/content.html.twig' with {'entreprise':user.entreprise} %}

        </div>
    </div>
    {%endif%}
{%endif%}
</div>
{% if is_granted('ROLE_STAGIAIRE') %}
<h3 > Fiche Stagiaire </h3>                       
{%include 'ExploticTiersBundle:Stagiaire:show/content_aggreg.html.twig' with {'entity':user} %}
{%endif%}
{% if type == 'formateur' %}
<h3> Fiche Formateur </h3>        
{%include 'ExploticTiersBundle:Formateur:show/content.html.twig' with {'entity':user} %}
{%endif%}
{% if type=='recruteur' %}
<h3> Fiche Recruteur </h3>
{%include 'ExploticTiersBundle:Recruteur:show/content.html.twig' with {'entity':user} %}
{%endif%}

{%if is_granted('ROLE_ADMIN')%}
{%else%}
<div class="row-fluid">
    <div class="span12">
        <div class="top-bar"><h3>Informations géographiques</h3></div>
        <div class="well">            
            <div id="myMap">   
            </div>
            {{ google_map_container(map) }}
            {{ google_map_js(map) }}</div>
        
    </div>
</div>
{%endif%}
{#  INTEGRATION AGENDA / FAIRE LES MODIFS DANS LE CONTROLLER EGALEMENT
<div class="top-bar">
    <h3>Agenda</h3>
</div>        
        
<div class="well">  
    <div class='row-fluid'>
        <div class='span2 clearfix'>
            
            <form class='included_form' action="{{ path('agenda_show') }}" method="post" {{ form_enctype(extractAgendaForm) }}>
                        {{ form_widget(extractAgendaForm) }} 
                    <button id='submit_agenda' class='btn btn-success'>Afficher</button>
            </form> 
            
        </div>
        <div id='agenda_show' class='span10'>
        </div>         
    </div>
</div>
#}
{% endblock%}

{%block declare_script %}
<script>
$(document).ready(function() {  
    $.ajax({
        type: "POST",
        data: $('form').serialize(),
        url: "{{ path('agenda_show')}}",
        success: function(retour){           
            //$('#modal-loader').modal('hide');
            $('#agenda_show').html(retour);
        },
        error: function(){
             $('#agenda_show').html('Impossible de charger le formulaire de gestion des créneaux pré-attribués');
        }
    });
    
    $('#submit_agenda').click(function(){          
        //$('#modal-loader').modal('show');
        $.ajax({
            type: "POST",
            data: $('form').serialize(),
            url: "{{ path('agenda_show')}}",
            success: function(retour){
                $('#agenda_show').html(retour);
                //$('#modal-loader').modal('hide');
            },
            error: function(){
                 $('#agenda_show').html('Impossible de charger le formulaire de gestion des créneaux pré-attribués');
                 //$('#modal-loader').modal('hide');
                }
        });
        return false;
    });
});

</script>

{% endblock%}

