
{%extends "ExploticMainBundle::layout.html.twig" %}

{% block bodyOpt %}onload="initialize()"{% endblock %}  
{% block body %} 
{% block jquery_script %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
{%endblock%}

<h3>Profil de l'utilisateur</h3>
<div class="row-fluid">
    <div class="span6">
        <div class="top-bar"> 
            <h3>Informations du compte</h3>
        </div>
        <div class="well">
            <p> Nom de connexion : {{user.username}}</p>
            <p> Adresse email : {{user.email}} </p> 
        </div>
    </div>
{% if is_granted('ROLE_GERANT') %}
        {%if user.entreprise.id is defined %}
    <div class="span6">
        <div class="top-bar"> 
            <h3>Entreprise</h3>
        </div>
        <div class="well text-left">
            {%include 'ExploticTiersBundle:Entreprise:show/content.html.twig' with {'entreprise':user.entreprise} %}

        </div>
    </div>
    {%endif%}
{%endif%}
</div>
{% if is_granted('ROLE_STAGIAIRE') %}

<h3 > Fiche Stagiaire </h3>                       
{%include 'ExploticTiersBundle:Stagiaire:show/content_aggreg.html.twig' with {'entity':user} %}
        
{%endif%}
{% if is_granted('ROLE_FORMATEUR') %}
<h3> Fiche Formateur </h3>        
{%include 'ExploticTiersBundle:Formateur:show/content.html.twig' with {'entity':user} %}
{%endif%}
{% if is_granted('ROLE_RECRUTEUR') %}
<h3> Fiche Recruteur </h3>
{%include 'ExploticTiersBundle:Recruteur:show/content.html.twig' with {'entity':user} %}
{%endif%}

<div class="row-fluid">
    <div class="span12">
        <div class="top-bar"><h3>Informations géographiques</h3></div>
        <div class="well">            
            <div id="myMap">   
            </div>
            {{ google_map_container(map) }}
            {{google_map_js(map) }}</div>
        
    </div>
</div>

        
<div class="top-bar">
    <h3>Agenda</h3>
</div>        
        
<div class="well">                
    <form action="{{ path('agenda_show') }}" method="post" {{ form_enctype(extractAgendaForm) }}>
                    {{ form_widget(extractAgendaForm) }} 
    </form> 
    <button id='submit_agenda' class='btn btn-success'>Afficher</button>
    <div id='agenda_show'>
    </div>
</div>
        
<script>
$(document).ready(function() {  
    $.ajax({
        type: "POST",
        data: $('form').serialize(),
        url: "{{ path('agenda_show')}}",
        success: function(retour){           
            //$('#modal-loader').modal('hide');
            $('#agenda_show').html(retour);
        },
        error: function(){
             $('#agenda_show').html('Impossible de charger le formulaire de gestion des créneaux pré-attribués');
        }
    });
    
    $('#submit_agenda').click(function(){          
        //$('#modal-loader').modal('show');
        $.ajax({
            type: "POST",
            data: $('form').serialize(),
            url: "{{ path('agenda_show')}}",
            success: function(retour){
                $('#agenda_show').html(retour);
                //$('#modal-loader').modal('hide');
            },
            error: function(){
                 $('#agenda_show').html('Impossible de charger le formulaire de gestion des créneaux pré-attribués');
                 //$('#modal-loader').modal('hide');
                }
        });
        return false;
    });
});

</script>

{% endblock%}

