{%extends "ExploticMainBundle:Templates:text-content_noher.html.twig"%}
{%block text_title%}
<h3> Machine utilisée </h3>
{%endblock%}
{%block text_body%}
<table class="table table-condensed">
    <thead>
        <tr>
            <th>N°</th>
            <th>Reference</th>
            <th>Modele</th>
            <th>Marque</th>
            <th>Logiciel</th>
            <th>Transfertdata</th>
            <th>Forfait</th>
            <th>Email</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            {%if entity is not null%}
            <td>{{ entity.numeroEntreprise }}</td>
            <td>{{ entity.reference }}</td>
            <td>{{ entity.modele }}</td>        
            <td>{{ entity.marque }}</td>  
            <td>{{ entity.logiciel }}</td>
            <td>{{ entity.transfertData }}</td>  
            <td>{{ entity.forfait }}</td>
            <td>{{ entity.email }}</td>
            
        </tr>
        <tr>
            <th colspan="8"></th>           
        </tr>
        <tr>
            <th>Commentaires :</th>
            <td colspan='6'>{{ entity.commentaire }}</td>                
            {%endif%}
    </tbody>
</table>
{%endblock%}