       
{% block choice_widget %}
{% spaceless %}
{% if expanded %}
    <div {{ block('widget_container_attributes') }}>                       
                  <div class='agenda'>
         {%for agenda in form.parent.vars.agendas%}             
             <div class="tab-pane" id="agenda{{loop.index}}">                    
                 <div class="agenda">    
                     <div class="agenda-header">                           
                    </div>
                    {%for agendaYear in agenda.agendasYear %}
                    <div class="annee"> 
                        {%for agendaWeek in agendaYear.agendasWeek%}
                        <div class="semaine"> {#Année : {{agendaYear.val}} | Semaine : {{agendaWeek.val}}#}
                        <div class="jour-container">
                            {%for agendaDay in agendaWeek.agendasDay%}
                            <div class="jour" style='width:{{95/(agendaWeek.agendasDay|length)}}%;'> 
                                <div class="day_disp">
                                    {{agendaDay.textVal}}
                                    {%if agendaDay.date is defined %}
                                    {{agendaDay.date | date('d/m/Y') }}
                                    {%endif%}                                
                                </div>                                    
                                 {%for creneau in agendaDay.creneaux %}
   
                                    {%if creneau.type =='vide'%}
                                        
                                    {%else%}
                                    <div class="creneau creneau-{{creneau.type}}" style="min-height: 5px; height: {{0.3*creneau.duree - 10}}px">
                                            <div class="creneau-content">      
                                        {{form_widget(form.offsetGet(creneau.creneauStructure.id))}}
                                        
                                        {{creneau.dateTimeDebut|date('H:i')}}-{{creneau.dateTimeFin|date('H:i')}}                                          
                                        {%if creneau.creneauxAffiches is defined %} 
                                                
                                                   {%for creneauAffiche in creneau.creneauxAffiches%}
                                                            {%if creneauAffiche.statutRdv is defined%}
                                                            <br>{{creneauAffiche.statutRdv}}                                                          
                                                            {%endif%}
                                                                                                                
                                                   {%endfor%}
                                                
                                        {%endif%}
                                                </div>                                
                                       </div> 
                                    {%endif%}
                                            
                                 {%endfor%}
                             </div>
                             {%endfor%}                
                         </div>
                         </div>
                         {%endfor%}
                     </div>
                     {%endfor%}
                </div>
            </div>
        {%endfor%}
        </div>         
    {% else %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none %}
            <option value="">{{ empty_value|trans({}, translation_domain) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('choice_widget_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('choice_widget_options') }}
    </select>
    {% endif %}
{% endspaceless %}
{% endblock choice_widget %}

{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" />
{% endspaceless %}
{% endblock form_widget_simple %}

{# Labels #}

{% block form_label %}
{% spaceless %}
    {% if not compound %}
        {% set attr = attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' required'}) %}
    {% endif %}
    {% if in_list_checkbox is defined and in_list_checkbox and widget is defined %}
        <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
            {{ widget|raw }}
            <span>
                {{ label|trans({}, translation_domain) }}
            </span>
        </label>
    {% else %}
        <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {% endif %}
{% endspaceless %}
{% endblock %}

{# Rows #}

{% block form_row %}
{% spaceless %}
    <div class="control-group {{ (0 < form_errors(form)|length)? 'error':'' }} ">
        {{ form_label(form, label|default(null)) }}
        <div class="controls">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{# Misc #}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% if not form.parent  or 'repeated' in form.vars['block_prefixes'] %}
            <div class="control-group error">
        {% endif %}
        <span class="help-inline">
            {% for error in errors %}
                {% if loop.first %}
                    {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
                {% endif %}
            {% endfor %}
        </span>
        {% if not form.parent  or 'repeated' in form.vars['block_prefixes'] %}
            </div>
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
