{%extends "::base.html.twig"%}
{%block body%}
<h1>Recherche de créneaux</h1>
<h4>Transporteur : {{transporteur.nom}}</h4>
<p> En {{entity.annee}} pour la semaine {{entity.semaine}} </p>
<p> du {{dateDebut | date('d/m/Y')}} au {{dateFin | date('d/m/Y')}} </p>
<form action="{{ path('rdv_reservation') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Rechercher</button>
    </p>
</form>

{%endblock%}