{%extends "ExploticTiersBundle::layout.html.twig" %}
{%block body%}
<h1>Bureau list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Adresserue</th>
            <th>Actions</th>
            <th>localisation</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('bureau_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.adresseRue }}</td>
            <td>{{ entity.localisation}} </td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('bureau_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('bureau_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('bureau_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{%endblock%}