{%extends "::base.html.twig"%}
{%block body%}
<h1>Intialisation d'un planning hebdomadaire</h1>


<p> Par défaut ce générateur est fait avec les paramètres suivants </p>
<p> Semaine = {{generateurRdv.week}} </p>
<p> Année = {{generateurRdv.year}} </p>

<form action="{{ path('creneaurdvgen_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class='btn btn-success' type="submit">Générateur</button>
    </p>
</form>
{%endblock%}

